@charset "utf-8";
h4{
	font-family: 'Orelega One', cursive;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #301b3f;
}
h4:hover{
  transform: skewX(20deg);
	color: #b4a5a5;
}
h3{
	padding: 10px;
}
h2{
	font-family: 'Permanent Marker', cursive;
	color: #151515;
	padding: 20px;
	align-content: center;
}
h1{
	text-align: center;
	padding: 30px;
	font-family: 'Bangers', cursive;
	color: #b4a5a5;
}
h1:hover{
	opacity: 0.7;
	transform: scale(1.5);
		color: beige;
}
.categories{
	color: #b4a5a5;
}
.topnav {
  background-color: #3c415c;
  overflow: hidden;
	text-align: center;
	align-content: center;
}
#products{
	color: #b4a5a5
}
.topnav a {
  float: left;
  color: #b4a5a5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; 
}

.topnav a:hover {
  background-color:#301b3f;
	color:#b4a5a5 
}
.topnav a.active {
  background-color: #301b3f;
  color: #b4a5a5;
}
.topnav a.active:hover {
  background-color: #b4a5a5;
  color:#301b3f ;
}
footer{
	text-align: center;
	background-color: #3c415c;
	font-size: 14pt;
	color: #b4a5a5;
	padding: 15px;
	margin-top: 15px;
}
#container1{
	background-image:url("../images/background3.JPG");
	justify-content: center;
	align-items: center;
	padding:75px;
	margin: 15px;
	margin-left: 250px;
	margin-right: 250px;
}
#blend{
mix-blend-mode: lighten;
	width: 200px;
	height: 200px;
	margin: 10px;
	padding-top: 50px;
}
#blend:hover{
mix-blend-mode: lighten;
	width: 200px;
	height: 200px;
	margin: 10px;
	padding-top: 50px;
		opacity: 0.7;
	transform: scale(1.5);
}
#container2{
	background-image: url("../images/background5.png");
}
#container3{
	background-image: url("../images/background3.JPG");
	align-items: center;
	
}
.text{
	background-color: beige;
	background-visibility:0.5;
	margin: 10px;
	padding: 10px;
}
#vision{
	background-image: url("../images/background2.png")
}
#button1{
	background-color:#301b3f;
	color: beige;
}
#button1:hover{
	background-color:#b4a5a5;
	color:#301b3f;
}
#button2{
	background-color:#3c415c;
	color: beige;
}
#button2:hover{
	background-color:#b4a5a5;
	color:beige;
}
#button3{
	background-color:#b4a5a5;
	color:#3c415c;
}
#button3:hover{
	background-color:#301b3f;
	color:#b4a5a5;
}
#button4{
	background-color:black;
	color: beige;
}
#button4:hover{
	background-color:beige;
	color:black;
}
.jumbotron{
	margin: 20px;
}
